/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    background-color:yellow;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 460px;
    height: 430px;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    text-align: center;
}

.display {
    grid-column: 1 / span 4;
    background-color: red;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    background-color: #444;
    color: #fff;
    font-size: 1.5rem;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color:pink;
}

.clear, .calculate {
    background-color: #f39c12;
}

.clear:hover, .calculate:hover {
    background-color: #e67e22;
}

.operator {
    background-color: #3498db;
}

.operator:hover {
    background-color: #2980b9;
}

